*{
    padding:0;
    margin:0;
}

/* NAV BAR */

nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position:sticky;
    flex-grow:1;
    border-bottom-width: 0.1pc;
    border-bottom-color: #f0ecf4;
    border-bottom-style:solid;
    box-shadow:0 0 5px black;
}

nav ul{
    display:flex;
}

nav li{
    padding: 0 0.5pc 0 0.5pc;
    color: #437bca;
}

nav li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    list-style: none;
    font-size: 1em;
    display:flex;
    flex-grow: 1;
    height:3pc;
    display:flex;
    align-items: center;
}

nav li:hover{
    background-color: rgba(247,247,247,255);
}

nav form i{
    padding: 0.3pc;
    color: grey;
}

nav form{
    width:40pc;
    border-style: none;
    border-radius: 1.5pc;
    padding: 0.2pc;
    background-color: #f0ecf4;
}

nav input{
    width:35pc;
    border-style: none;
    margin-left: 0.75pc;
    background-color: inherit;
}
.nav__x{
    display:none;
}
nav input:focus{
    outline:none;
}

nav input:focus + .nav__x{
    display:inline;
}

nav img{
    scale: auto;
    height: 2.5pc;
}


nav div ul{
    padding: 0 1pc 0 1pc;
    border-left-width: 0.1pc;
    border-left-color: #f0ecf4;
    border-left-style:solid;
    border-right-width: 0.1pc;
    border-right-color: #f0ecf4;
    border-right-style:solid;
}

.nav__end{
    border-right-width:0;
    border-right-style:none;
}
.nav__logo{
border-width:0;
}

/* HEADER */

header{
    margin-left: 10pc;
    margin-top:5pc;
    display:flex;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size:2em;
    color: rgb(76, 76, 76);
    margin-left:2pc;
    margin-top:1pc;
}
header p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:lighter;
    word-spacing:0.25em;
    font-size:0.9em;
    color:rgb(45, 45, 45);
    margin-left:2pc;
    margin-top:1pc;
    margin-right:5pc;
    z-index: 10;
}

header p span{
    color: #004792cb;

}
#header__RYM{
    background: -webkit-linear-gradient(0deg, rgba(3, 44, 193, 0.784) 0%, rgba(88, 160, 247, 0.765) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}

#header__socials{
    display:flex;
    margin-right: 10pc;
    margin-top: 1pc;
}

.header__socialIcons{
    height:2pc;
    padding: 0 1pc 0 1pc;
}
